





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: rgb(8, 27, 41);
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;
}

.logo:hover {
    color: #00abf0;
}

.navbar a{
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 34px;
    transition: .2.5s;
}

.navbar a:hover,
.navbar a.activate {
    color: #00abf0;
}

.Home {
    display: flex;
    align-items: center;
    padding: 0 10%;
    height: 100vh;
    position: fixed;
}

.Home-content {
    background: transparent;
    max-width: 650px;
    line-height: 1.2;
} 

.Home-content h1 {
    font-size: 55px;
    color: white;
    font-weight: 700;
}

.Home-content h3 {
    font-size: 35px;
    color: white;
    font-weight: 700;
    color: #00abf0;
}

.Home-content p {
    font-size: 17px;
    margin: 20px 0 40px;
}

.Home-content .button-box {
    width: 350px;
    height: 50px;
    background: transparent;
    justify-content: space-between;
    display: inline-flex;
}

.button-box a {
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    display: inline-flex;
    font-size: 19px;
    color:#081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}